.formulario {
    padding: 20px;
}

.formulario .container h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #F17E50;
}

.form-div label {
    font-size: 18px;
    font-weight: bold;
}

form .form-div input {
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: #48A3A6;
    box-shadow: 1px 1px 10px #48A3A6;
}

.form-email label {
    font-size: 18px;
    font-weight: bold;
}

form .form-email input {
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: #48A3A6;
    box-shadow: 1px 1px 10px #48A3A6;
}

form .form-email {
    margin-top: 10px;
}

.container .botao {
    margin-top: 10px;
    text-align-last: center;

}

button {
    padding: 20px 35px;

    color: white;
    text-transform: uppercase;
    
    border: none;
    background-color: #48A3A6;
    box-shadow: 0.1em 0.1em 0.1em black;
}




